{% extends 'base.html' %}
{% load static %}

{% block page_title %} | About{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col">
		<h1 class="marker">About</h1>
		<div class="row">
			<div class="col-9">
				<p>Always wanted to be a part of RuPaul's Drag Race, 
					but lack the charisma, uniqueness, nerve and talent to get there? Well, now's your chance! Join Drag Crush to play along with current seasons.
				</p>
				<h2>Two Ways to Play</h2>
				<ol>
					<li><strong>On your own</strong> - Draft a team of queens from an upcoming Drag Race and accumulate points as your queens score throughout the season. You can track how your team ranks against everyone else.</li>
					<li><strong>On a panel</strong> - Create a private panel of up to 20 participants with friends or join a public panel. Hop online at your panel's scheduled draft time to draft your team. Panels have the additional option of drafting Wildqueens - queens from the master list of all RPDR contestants who might show up in a season and score you additional points.</li>
				</ol>

				<h2>Worried about spoilers?</h2>
				<p>Don't be! You won't see episode scores until you choose to Ruveal them yourself. All links to pages with potential spoilers are marked by a &#9889;.

				<h2>How does scoring work?</h2>
				<p>Your esteemed admin user, kittygirl, watches each episode and sets the scores based on predetermined rules. For older seasons, kittygirl is getting there and sometimes using wikipedia, with the goal of scoring all RPDR contestants for <i>statistics</i>. Why? Everyone loves statistics!</p>
				<p>Rules vary by what type of Drag Race it is:</p>
				<ol>
					<li><a href="{% url 'dragrace_rules' drag_race_type='standard' %}">Standard Drag Race</a></li>
					<li><a href="{% url 'dragrace_rules' drag_race_type='all star' %}">Drag Race All Stars</a></li>
					<li><a href="{% url 'dragrace_rules' drag_race_type='international' %}">International Drag Race</a></li>
				</ol>

			</div>
		</div>
	</div>
	<div class="col-3">
		{% if error %}
		<div class="alert alert-danger">{{error}}</div>
		{% endif %}
		<form method="POST" action="">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" class="form-control btn btn-primary" value="Log In" />
		</form>
		Not registered? <a href="{% url 'register' %}">Go here</a>.

	</div>
</div>
{% endblock %}