{% extends 'base.html' %}
{% load static %}

{% block page_title %} | About{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col">
		<h1 class="marker">About</h1>
		<div class="row">
			<div class="col-9">
				{% include 'pages/about/about-body.html' %}
			</div>
		</div>
	</div>
	{% if not request.user.is_authenticated %}
	<div class="col-3">
		{% if error %}
		<div class="alert alert-danger">{{error}}</div>
		{% endif %}
		<form method="POST" action="">
			{% csrf_token %}
			{{form.as_p}}
			<input type="submit" class="form-control btn btn-primary" value="Log In" />
		</form>
		Not registered? <a href="{% url 'register' %}">Go here</a>.
	</div>
	{% endif %}
</div>
{% endblock %}