{% extends 'base.html' %}

{% block page_content %}
	{% for drag_race, data in drag_races.items %}
		<div class="row">
			<div class="col-12">
				<h1>
					{{drag_race.display_name}}
				</h1>
			</div>
			<div class="col-2">
				<p class="marker">
					<a href="{% url 'dragrace_rules' dragrace_id=drag_race.pk %}">Rules</a>
				</p>
				<p class="marker">
					<a href="{% url 'dragrace_stats' dragrace_id=drag_race.pk %}">
					Stats</a>
				</p>
			</div>
			<div class="col">
				<h4 class="marker">Episodes</h4>
				<ul>
				{% for episode in drag_race.scored_episodes %}
				<li><a href="{% url 'episode_detail' episode_id=episode.id %}">{{episode.title}} ({{episode.number}})</a> </li>
				{% endfor %}
				</ul>
			</div>

			<div class="col">
				<h4 class="marker">Panels</h4>
				<ul>
					{% for panel in data.participant_panels %}
						<li>
							<a href="{% url 'panel_stats' panel_id=panel.pk %}">{{panel.name}}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		{% if participant.site_admin %}
			<div class="spacer spacer-medium"></div>
			<div class="row">
				<div class="col">
					<form action="{% url 'set_episode_scores_redirect' dragrace_id=drag_race.pk %}" method="POST">
						{%csrf_token %}
						<label for="episode"><h4 class="marker">Score Episodes</h4></label>
						<select id="id_episode" name="episode" class="form-control">
							<option>
							</option>
							{% for episode in drag_race.episode_set.all %}
							<option value="{{episode.pk}}">Episode #{{episode.number}}</option>
							{% endfor %}
						</select>
						<input type="submit" value="Go" class="btn btn-primary"/>
					</form>
				</div>
			</div>
		{% endif %}

			<div class="col-12">
				<hr />
			</div>
	{% endfor %}

{% endblock %}