{% extends 'base.html' %}
{% load helper_tags %}

{% block page_title %} | {{drag_race.display_name}}{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col">
			<h1>{{drag_race.display_name}}</h1>
		</div>
		{% if is_site_admin %}
			<div class="col">
				<a href="{% url 'create_episode' dragrace_id=drag_race.pk%}" class="form-control btn btn-info">Add episode</a>
			</div>
		{% endif %}
	</div>

	<div class="row">
		<div class="col"><h3 class="marker">Episodes</h3></div>
	</div>
			<div style="width: 100%; overflow-y: scroll;">
			<table class="table">
				<tr>
					<td></td>
					{% for episode in scored_episodes %}
						<th>
							{% if episode not in viewed_episodes %}
							<span data-toggle="tooltip" data-placement="left" title="You have not ruvealed scores for this episode">
								<span class="entities entities-alert">&#9733;</span>
								<a href="{% url 'episode_detail' episode_id=episode.id %}">{{episode.title}} ({{episode.number}})</a>
							</span>
							{% else %}
							<a href="{% url 'episode_detail' episode_id=episode.id %}">{{episode.title}} ({{episode.number}})</a>
							{% endif %}</th>
					{% endfor %}
				</tr>
				<tr>
					<th>Wildcards</th>
					{% for episode in scored_episodes %}
						<td>
						{% for wq_stat in wq_stats %}
							{% with wq_stat.data.episodes|get_as_str:episode.pk as wq_scores %}
								{% if wq_scores.scores %}
									{% for score in wq_scores.scores %}
										<p>
											{{wq_stat.queen.name}}: {{score.rule}}		({{score.value|number}}pts)
										</p>
									{% endfor %}
								{% endif %}
							{% endwith %}
						{% endfor %}
						</td>
					{% endfor %}
				</tr>
				{% for queen_stat in queen_stats %}
					<tr>
						<th>
							<a href="{% url 'queen_detail' queen_id=queen_stat.queen.pk %}">{{queen_stat.queen.name}}</a>
							<p>Total: {{queen_stat.primary_stat|number}}</p>
						</th>
						{% for episode in scored_episodes %}
						{% with queen_stat.data.episodes|get_as_str:episode.pk as episode_score %}
						<td>
							{% if episode_score.scores %}
								{% for score in episode_score.scores %}
								<p>{{score.rule}} ({{score.value}}pts)</p>
								{% endfor %}
								<p>Episode Total: {{episode_score.total}}pts</p>
							{% endif %}
						</td>
						{% endwith %}
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
		</div>


{% endblock %}