{% extends 'base.html' %}
{% load helper_tags %}

{% block page_title %} | {{drag_race.display_name}}{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col">
			<h1>{{drag_race.display_name}}</h1>
		</div>
		{% if is_site_admin %}
			<div class="col">
				<a href="{% url 'create_episode' dragrace_id=drag_race.pk%}" class="form-control btn btn-info">Add episode</a>
			</div>
		{% endif %}
	</div>

	<div class="row">
		<div class="col"><h3 class="marker">Episodes</h3></div>
	</div>
			<div style="width: 100%; overflow-y: scroll;">
			<table class="table">
				<tr>
					<th>Queen</th>
					{% for episode in scores %}
						<th><a href="{% url 'episode_detail' episode_id=episode.id %}">{{episode.title}} ({{episode.number}})</a></th>
					{% endfor %}
				</tr>
				<tr>
					<th>Wildcards</th>
				{% for episode in scores %}
					{% with episode|wildcard_queens_for_episode as qw_scores %}
						<td>
						{% if qw_scores %}
							{% for qw in qw_scores %}
								{{qw.queen}}: {{qw.appearance.name}} ({{qw.appearance.point_value}}pts)
								{% if not forloop.last %}
								<br />
								{% endif %}
							{% endfor %}
						{% endif %}
						</td>
					{% endwith %}
				{% endfor %}
				</tr>
				{% for queen in drag_race.queens.all %}
					<tr>
						<th>
							<a href="{% url 'queen_detail' queen_id=queen.pk %}" class="spoiler" data-toggle="tooltip" data-placement="right" title="May contain spoilers" ><span class="spoiler-alert">&#9889;</span>{{queen.name}}</a>
						</th>
						{% for episode, queens in scores.items %}
						{% with queens|get:queen as this_queen %}
						<td>
							{% if this_queen.rules %}
								{% for rule in this_queen.rules %}
								<p>{{rule.name}} ({{rule.point_value}}pts)</p>
								{% endfor %}
								<p>Episode Total: {{this_queen.total}}pts</p>
							{% endif %}
						</td>
						{% endwith %}
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
		</div>


{% endblock %}