{% extends 'base.html' %}
{% load helper_tags %}

{% block page_title %} | {{drag_race.display_name}}{% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col">
			<h1>{{drag_race.display_name}}</h1>
		</div>
		{% if is_site_admin %}
			<div class="col">
				<a href="{% url 'create_episode' dragrace_id=drag_race.pk%}" class="form-control btn btn-info">Add episode</a>
			</div>
		{% endif %}
	</div>

	<div class="row">
		<div class="col"><h3 class="marker">Episodes</h3></div>
	</div>
			<div style="width: 100%; overflow-y: scroll;">
			<table class="table">
				<tr>
					<td></td>
					{% for episode in scored_episodes %}
						<th>
							{% if episode not in viewed_episodes %}
							<span data-toggle="tooltip" data-placement="left" title="You have not ruvealed scores for this episode">
								<span class="entities entities-alert">&#9733;</span>
								<a href="{% url 'episode_detail' episode_id=episode.id %}">{{episode.title}} ({{episode.number}})</a>
							</span>
							{% else %}
							<a href="{% url 'episode_detail' episode_id=episode.id %}">{{episode.title}} ({{episode.number}})</a>
							{% endif %}</th>
					{% endfor %}
				</tr>
				<tr>
					<th>Wildcards</th>
					{% for episode in scored_episodes %}
						<td>
						{% with wq_appearances|get:episode as wq_scores %}
							{% for wq in wq_scores %}
								<p>
									{{wq.queen.name}}: {{wq.appearance.name}}		({{wq.appearance.point_value|number}}pts)
								</p>
							{% endfor %}
						{% endwith %}
						</td>
					{% endfor %}
				</tr>
				{% for queen, queen_stat in queen_stats.items %}
					<tr>
						<th>
							<a href="{% url 'queen_detail' queen_id=queen.pk %}">{{queen.name}}</a>
							<p>Total: {{queen_stat.stats.total_score}}</p>
						</th>
						
						{% for episode in scored_episodes %}
						{% with queen_stat.episodes|get:episode as episode_stat %}
							{% if episode_stat %}
								<td>
									<strong>Total: {{episode_stat.total_score}}</strong>
									{% for score in episode_stat.episode_scores %}
										<br />{{score.rule.name}}: 
										<br />{{score.rule.point_value}} pts
									{% endfor %}
								</td> 
							{% else %}
								<td style="background-color: #e3e3e3"></td>
							{% endif %}
						{% endwith %}
						{% endfor %}
					</tr>
				{% endfor %}
			</table>
		</div>


{% endblock %}