{% extends 'base.html' %}

{% block page_title %} | Join Panel {{panel.name}}{% endblock %}

{% block page_content %}
	{% if in_panel %}
	<div class="row">
		<div class="col">
			<div class="alert alert-danger">You are already in this panel!</div>
		</div>
	</div>
	{% else %}
	<div class="row">
		<div class="col">
			{% if invited %}
			<p>You have been invited to join the panel <strong>"{{panel.name}}"</strong> for <strong>{{panel.drag_race.display_name}}</strong></p>
			{% else %}

			<p>Join panel <strong>"{{panel.name}}"</strong> for <strong>{{panel.drag_race.display_name}}</strong></p>
			{% endif %}
			<p><strong>Panel members:</strong></p>
			<ul>
				{% for pm in panel.participants.all %}
				<li><strong>{{pm.display_name}}</strong> {% if pm in panel.captains.all %} (captain){% endif %}</li>
				{% endfor %}
			</ul>
			<ul>
				<li><strong>Max participants:</strong> {{panel.participant_limit}}</li>
				<li><strong>Available slots:</strong> {{panel.available_slots}}</li>
				<li>
					<strong>Wildqueen allowance:</strong> 
					{% if panel.wildcard_allowance %}
						{{panel.wildcard_allowance}}
					{% else %}
						X
					{% endif %}
				</li>
			</ul>
			</div>
			<div class="col">

			<form method="POST">
				{% csrf_token %}
				{% if invited %}
				<input type="submit" class="btn btn-primary form-control" value="Accept" />
				{% else %}
				<input type="submit" class="btn btn-primary form-control" value="Join Panel" />
				{% endif %}
			</form>
		</div>
	</div>
	{% endif %}
{% endblock %}