{% extends 'base.html' %}



{% block page_title %} | Join Panel{% endblock %}


{% block page_content %}
	{% if in_panel %}
	<div class="row">
		<div class="col">
			<div class="alert alert-danger">You are already in this panel!</div>
		</div>
	</div>
	{% else %}
	<div class="row">
		<div class="col">
		<form method="POST">
			{% csrf_token %}
			<p>You have been invited to join the panel <strong>"{{panel.name}}"</strong> for <strong>{{panel.drag_race.display_name}}</strong></p>
			<p><strong>Panel members:</strong></p>
			<ul>
				{% for pm in panel.participants.all %}
				<li><strong>{{pm.display_name}}</strong> {% if pm in panel.captains.all %} (captain){% endif %}</li>
				{% endfor %}
			</ul>
			<div class="spacer-medium"></div>
			<input type="submit" class="btn btn-primary form-control" value="Accept" />
		</form>
		</div>
	</div>
	{% endif %}
{% endblock %}