{% extends 'base.html' %}
{% load static %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static 'vendor/angular/angular.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'angular/editdragrace.js' %}"></script>

{% endblock %}

{% block page_content %}
<input type="hidden" name="dragrace_id" id="id_dragrace_id" value="{{dragrace_id}}" />
<span id='addEditDragRaceModule' ng-controller='addEditDragRaceController'>

	{% verbatim %}	
	<div class="row"><div class="spacer-small"></div></div>
	<div class="row"> 
		<div class="col">
			<h1 class="marker" ng-show="createNew">Add Drag Race</h1>
			<h1 class="marker" ng-show="!createNew">Edit Drag Race</h1>
		</div>
	</div>
	<div class="row" ng-show="errors.length > 0">
		<div class="col">
			<div class="alert alert-danger">
				<ul>
					<li ng-repeat="error in errors">{{error}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row" ng-show="successMessage">
		<div class="col">
			<div class="alert alert-success">
				{{successMessage}}
			</div>
		</div>
	</div>
		<div class="row">
			<div class="col">
				<label for="season" class="label-plain">Season#:</label>
				<input type="number" class="form-control" id="id_season" name="season" ng-model="dragRace.season" required/>
			</div>
			<div class="col">
				<label for="franchise" class="label-plain">Franchise:</label>
				<select class="form-control" id="id_franchse" name="franchise" ng-model="dragRace.franchise" required>
					<option ng-repeat="franchiseOption in franchiseOptions" value="{{franchiseOption}}">{{franchiseOption}}</option>
				</select>
			</div>
			<div class="col">
				<label for="race_type" class="label-plain">Type:</label>
				<select class="form-control" id="id_race_type" name="race_type" ng-model="dragRace.race_type" ng-change="updateRuleSet(dragRace.race_type)" required>
					<option ng-repeat="typeOption in typeOptions" value="{{typeOption}}">{{typeOption}}</option>
				</select>
			</div>
		</div>

		<div class="spacer-small"></div>
		<div class="row">
			<div class="col">
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col">
				<p class="marker">Rules</p>
			</div>
		</div>
		<div class="spacer-small"></div>
		<table class="table">
			<tr>
				<th>Rule</th><th>Description</th><th>Points</th>
			</tr>
			<tr ng-repeat="rule in dragRaceRules">
				<th>{{rule.name}}</th>
				<td>{{rule.description}}</td>
				<th>{{rule.point_value}}</th>
			</tr>
		</table>
		<div class="row">
			<div class="col">
				<label for="queens" class="label-plain">Queens:</label>
				<div class="input-group">
				  <select class="custom-select" id="id_queens" name="queens" ng-model="existingQueenSelect">
				    <option></option>
					<option ng-repeat="queen in existingQueens" value="{{queen}}">{{queen.name}}</option>
				  </select>
				  <div class="input-group-append">
				    <button class="btn btn-primary" type="button" ng-click="addExistingQueen(existingQueenSelect)" ng-disabled="!existingQueenSelect">+</button>
				  </div>
				</div>

			</div>
		</div>
		<div class="spacer-small"></div>	

		<div class="row">
			<div class="col">
				<label for="new_queen" class="label-plain">Add Queen:</label>
				<div class="input-group">
				  <input type="text" class="form-control" id="id_new_queen" name="new_queen" ng-model="newQueen" />
				  <div class="input-group-append">
				    <button class="btn btn-primary" type="button" ng-click="addNewQueen()" ng-disabled="!newQueen">+</button>
				  </div>
				</div>

			</div>
		</div>	
	<div class="spacer-medium" ng-show="dragRace.queens.length > 0"></div>
	<div class="row">
		<div class="col">
			<table class="table">
				<tr ng-repeat="queen in dragRace.queens">
					<td>{{queen.name}}</td>
					<td>
						<button 
							class="btn btn-danger btn-sm"
							ng-click="removeQueen(queen)">-</button>
					</td>
				</tr>
			</table>
			
		</div>
	</div>

	<div class="spacer-small"></div>
	<div class="row">
		<div class="col">
			<button ng-show="createNew" type="submit" class="btn btn-primary form-control" ng-click="createUpdateDragRace()"
			ng-disabled="!dragRace.season || !dragRace.franchise || !dragRace.race_type">Submit Drag Race</button>
			<button ng-show="!createNew" type="submit" class="btn btn-primary form-control" ng-click="createUpdateDragRace()">Update Drag Race</button>
		</div>
	</div>
	{% endverbatim %}
</span>
{% endblock %}