{% extends 'base.html' %}



{% block page_title %} | Panels | {{drag_race.display_name}}{% endblock %}


{% block page_content %}
<div class="row">
	<div class="col">
		<h2>{{drag_race.display_name}}</h2>
		<h1 class="marker">Open Panels</h1>
	</div>
</div>
<div class="spacer-medium"></div>
{% for panel in panels %}
<div class="row">
	<div class="col-2">
		<strong>{{panel.name}}</strong>
	</div>
	<div class="col-2">
		Max participants: {{panel.participant_limit}}
	</div>
	<div class="col-2">
		Available slots: {{panel.available_slots}}
	</div>
	<div class="col-3">
		Wildqueen allowance: 
		{% if panel.wildcard_allowance %}
			{{panel.wildcard_allowance}}
		{% else %}
			X
		{% endif %}
	</div>
	<div class="col">
		{% if participant not in panel.participants.all %}
			{% if panel.participant_limit > panel.available_slots %}
				<a href="{% url 'panel_join_link' panel_code=panel.code%}" class="btn btn-primary">Join</a>
			{% else %}
				Panel is full
			{% endif %}
		{% else %}
			<a href="{% url 'panel_stats' panel_id=panel.pk%}" class="btn btn-info" disabled="disabled">Go to Panel</a>
		{% endif %}
	</div>
</div>

<div class="row"><div class="col"><hr /></div></div>
{% endfor %}
{% endblock %}