{% extends 'base.html' %}
{% load helper_tags %}

{% block page_content %}
	<div class="row">
		<div class="col">
			<h1>{{panel.drag_race.display_name}}: {{panel.name}}</h1>
		</div>
	</div>

	{% if panel.status == 'open' and is_captain %}
	<div class="row">
		<div class="col">
			<a href="{% url 'panel_set_drafts' panel_id=panel.pk %}">
				<button class="form-control btn btn-success">BEGIN DRAFT</button>
			</a>
		</div>
	</div>
	{% endif %}

	{% if panel.status == 'in draft' and is_captain %}
	<div class="row">
		<div class="col">
			<a href="{% url 'panel_set_drafts' panel_id=panel.pk %}">
				<button class="form-control btn btn-warning">CONTINUE DRAFT</button>
			</a>
		</div>
	</div>
	{% endif %}
	
	{% if panel.status == 'open' or panel.status == 'in draft' and is_captain %}
		<div class="row">
			<div class="col">
				<form action="{% url 'panel_set_random_drafts' panel_id=panel.pk %}" method="POST">
					{% csrf_token %}
					<input type="submit" class="form-control btn btn-danger" value="ASSIGN DRAFT RANDOMLY" />
					
				</form>
			</div>
		</div>
	{% endif %}

	<div class="row">
		<div class="col">
			<h2><a href="{% url 'dragrace_stats' dragrace_id=panel.drag_race.pk %}">The Queens</a></h2>
			<table class="table">
				<tr><th>Queen</th><th>Current Score</th></tr>
				{% for queen, score in queen_scores.items %}
					<tr>
						<td>
							<p>{{queen.name}}</p>
							<p class="text-secondary">{{queen|get_panelists_for_queen:panel}}</p>
						</td>
						<td>{{score}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col">
			<h2>Participants</h2>
			<table class="table">
				<tr><th>Player</th><th>Current Score</th></tr>
				{% for participant, score in panel_scores.items %}
					<tr>
						<td><a href="{% url 'participant_stats' panel_id=panel.pk participant_id=participant.pk %}">{{participant.name}}</td>
						<td>{{score}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	{% if is_captain %}
	<div class="row">
		<div class="col">
			<form method="POST" action="">
				{% csrf_token %}
				<input type="submit" id="id_resetdraft" name="resetdraft" class="form-control btn btn-danger" value="RESET DRAFT" />
			</form>
		</div>
	</div>
	{% endif %}

{% endblock %}