{% extends 'base.html' %}
{% load helper_tags %}

{% block page_content %}
	<div class="row">
		<div class="col">
			<h1>{{panel.drag_race.display_name}}: {{panel.name}}</h1>
		</div>
	</div>

	{% if panel.status == 'open' and is_captain and panel.participants.count > 1 %}
	<div class="row">
		<div class="col">
			<a href="{% url 'panel_set_drafts' panel_id=panel.pk %}">
				<button class="form-control btn btn-success">BEGIN DRAFT</button>
			</a>
		</div>
	</div>
	{% endif %}

	{% if panel.status == 'open' and is_captain %}
		<div class="row">
			<div class="col">
				<div class="alert alert-plain">
					{% if panel.panel_type == 'open' %}
					<p>This panel is open, which means any Fantasy Drag participants can join it. However, if you want to invite specific people to join the panel, you can send them this link:</p>
					{% else %}
					<p>This is a private panel. To invite people to join, send them this link:</p>
					{% endif %}
					<p>{{join_link}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a class="btn btn-primary" href="{% url 'panel_edit' panel_id=panel.pk%}">Edit</a>
			</div>
		</div>
		<div class="spacer-medium"></div>
	{% endif %}

	{% if panel.status == 'in draft' and is_captain%}
	<div class="row">
		<div class="col">
			<a href="{% url 'panel_set_drafts' panel_id=panel.pk %}">
				<button class="form-control btn btn-warning">CONTINUE DRAFT</button>
			</a>
		</div>
	</div>
	{% endif %}

	<div class="row">
		<div class="col">
			<h2 class="marker">Participants</h2>
			<table class="table">
				<tr><th>Player</th><th>Current Score</th></tr>
				{% for participant, score in panel_scores.items %}
					<tr>
						<td><a href="{% url 'participant_stats' panel_id=panel.pk participant_id=participant.pk %}">{{participant.name}}</td>
						<td>{{score.total_score}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<div class="col">
			<h2><a href="{% url 'dragrace_stats' dragrace_id=panel.drag_race.pk %}" class="marker">Queen Scorecard</a></h2>
			<table class="table">
				<tr><th>Queen</th><th>Current Score</th></tr>
				{% for queen, score in queen_scores.items %}
					<tr>
						<td>
							<p><a href="{% url 'queen_detail' queen_id=queen.pk %}" class="spoiler" data-toggle="tooltip" data-placement="bottom" title="May contain spoilers" ><span class="spoiler-alert">&#9889;</span>{{queen.name}}</a></p>
							<p class="text-secondary">{{queen|get_panelists_for_queen:panel}}</p>
						</td>
						<td>{{score}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>

	{% if is_captain %}
	<div class="row">
		<div class="col">
			<form method="POST" action="">
				{% csrf_token %}
				<input type="submit" id="id_resetdraft" name="resetdraft" class="form-control btn btn-danger" value="RESET DRAFT" />
			</form>
		</div>
	</div>
	{% endif %}

{% endblock %}