{% extends 'base.html' %}

{% block page_title %} | {{panel.name}} | {{this_participant.name}} {% endblock %}

{% block page_content %}
	<div class="row">
		<div class="col">
			<h1>{{this_participant.name}}</h1>
			<h2><a href="{% url 'panel_stats' panel_id=panel.pk %}">{{panel.drag_race.display_name}}: {{panel.name}}</a></h2>
		</div>
	</div>

	<div class="row">
		<div class="col-4"></div>
		<div class="col marker"><h3 class="marker">Drafted Queens</h3></div>
	</div>
	<div class="row">
		<div class="col-4 alert alert-success marker">
			Current Total: {{scores.total_score}}
		</div>
		<div class="col">
			<div class="row">
				<table class="table">
					<tr><th>Queen</th><th>Current Score</th></tr>
					{% for queen, score in scores.draft_scores.items %}
						<tr>
							<td><a href="{% url 'queen_detail' queen_id=queen.pk %}" class="spoiler" data-toggle="tooltip" data-placement="bottom" title="May contain spoilers" ><span class="spoiler-alert">&#9889;</span>{{queen.name}}</a></td>
							<td>{{score}}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-4"></div>
		<div class="col">
			<hr />
			<h4 class="marker">Wildcard Queens</h4>
			<table class="table">
				<tr><th>Queen</th><th>Current Score</th></tr>
				{% for queen, score in scores.wildcard_scores.items %}
					<tr>
						<td><a href="{% url 'queen_detail' queen_id=queen.pk %}" class="spoiler" data-toggle="tooltip" data-placement="bottom" title="May contain spoilers" ><span class="spoiler-alert">&#9889;</span>{{queen.name}}</a></td>
						<td>{{score}}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	</div>


{% endblock %}