{% extends 'base.html' %}
{% load helper_tags static %}
{% block page_title %} | {{queen.name}}{% endblock %}

		
{% block extra_scripts %}

{% endblock %}

{% block page_content %}
<input type="hidden" id="id_queenId" name="queenId" value="{{queen.pk}}" />
<div class="row">
	<div class="col">
		<h1 class="marker">{{queen.name}}</h1>
	</div>
	<div class="col" ng-if="stats.total">
		<h2>Total score: {{stats.total_score}}</h2>
	</div>
	<div class="col" ng-if="averageScore">
		<h2>Average: {{stats.average}}</h2>
	</div>
</div>
<div class="spacer-medium"><hr /></div>

	{% if is_scored %}
		<div class="row" ng-if="isScored">
			<div class="col">
				<h2 class="h3"><span class="marker">Drag Races</span></h2>
			</div>
		</div>

		{% for dragrace, dr_stats in stats.drag_races.items %}
			<div class="row" >
				<div class="col-lg-4 col-sm-12">
					<h3><a href="/dragrace/{{dragrace.pk}}/">{{dragrace.display_name}}</a></h3>
					<table class="table">
						<tr>
							<th>Total Points:</th>
							<th>{{dr_stats.drag_race.total_score}}</th>
						</tr>
						<tr>
							<th>Main Challenge Wins:</th>
							<td>{{dr_stats.drag_race.main_wins}}</td>
						</tr>
						<tr>
							<th>Mini Challenge Wins:</th>
							<td>{{dr_stats.drag_race.mini_wins}}</td>
						</tr>
						<tr>
							<th>Lip Sync Wins:</th>
							<td>{{dr_stats.drag_race.lipsync_wins}}</td>
						</tr>
						<tr>
							<th>Times Safe:</th>
							<td>{{dr_stats.drag_race.safe_count}}</td>
						</tr>
						<tr>
							<th>Times Bottom:</th>
							<td>{{dr_stats.drag_race.bottom_count}}</td>
						</tr>
						<tr>
							<th>Times Eliminated:</th>
							<td>{{dr_stats.drag_race.eliminated_count}}</td>
						</tr>
					</table>
				</div>
				<div class="col-lg-8 col-sm-12">
					<table class="table">
						<tr>
							<th colspan="100%">Episode Scores</th>
						</tr>
						{% for episode in dr_stats.episodes %}
							<tr>
								<th><a href="{% url 'episode_detail' episode_id=episode.episode.pk %}">{{episode.episode.title}}</a></th>
								<td>
									Scores
									<table class="table">
										{% for score in episode.episode_scores %}
										<tr>
											<td>{{score.rule.name}}</td>
											<td>{{score.rule.point_value}} pts</td>
										</tr>
										{% endfor %}
									</table>
								</td>
							</tr>
						{% endfor %}
					</table>
				</div>
				<div class="spacer-small"></div>
			</div>
			<div class="row">
				<div class="col">
					<hr />
				</div>
			</div>
		{% endfor %}
	{% else %}
		<div class="row">
			<div class="col alert alert-danger">Kittygirl has not scored this queen yet. They are working on it!</div>
		</div>
	{% endif %}
{% endblock %}