{% extends 'base.html' %}
{% load helper_tags %}
{% block page_title %} | {{queen.name}}{% endblock %}
{% block page_content %}
<div class="row">
	<div class="col">
		<h1 class="marker">{{queen.name}}</h1>
	</div>
	{% if stats.data.drag_races %}
	<div class="col">
		<h2>Total score: {{stats.data.total}}</h2>
	</div>
	<div class="col">
		<h2>Average: {{stats.primary_stat|number}}</h2>
		
	</div>
	{% endif %}
</div>
<div class="spacer-medium"><hr /></div>

{% if stats.data.drag_races %}
	<div class="row">
		<div class="col">
			<h2 class="marker">Drag Races</h1>
		</div>
	</div>
	{% for drag_race, dr_stats in stats.data.drag_races.items %}
		<div class="spacer-small"></div>
		<div class="row">
			<div class="col-4">
				<h3>{{dr_stats.display_name}}</h3>
			</div>
			<div class="col-8">
				<table class="table">
					<tr><td></td><th>Total: {{dr_stats.total}}</th></tr>
					{% for episode, ep_stats in dr_stats.episodes.items %}
					<tr>
						<th>{{ep_stats.title}}</th>
						<td>
							{% for score in ep_stats.scores %}
							{{score.rule}}: {{score.value}}pts<br />
							{% endfor %}
						</td>
					</tr>
					{% endfor %}
				</table>
			</div>
			<div class="col">
			</div>
		</div>
	{% endfor %}
{% else %}
<div class="row">
	<div class="col alert alert-danger">Kittygirl has not scored this queen yet. They are working on it!</div>
</div>
{% endif %}
{% endblock %}