{% extends 'base.html' %}
{% load static %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static 'vendor/angular/angular.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'angular/setdrafts.js' %}"></script>
{% endblock %}

{% block page_content %}
<span id='panelDraftModule' ng-controller='panelDraftController'>
	<input type="hidden" id="id_panelId" value="{{panel.pk}}" />
	<div class="row">
		<div class="col">
			{% verbatim %}
			<h1>{{dragRace.display_name}}: {{panel.name}}</h1>
			{% endverbatim %}
		</div>
	</div>

	<span ng-show="panel.status=='open' && (isCaptain || isAdmin)">
		<div class="row">
			<div class="col-2">
				<input 
					type="radio" 
					name="draftType" 
					id="id_draftType_byQueenCount" 
					value="byQueenCount" 
					ng-model="draftType"
					ng-change="setPreview(draftType, draftVariable)"> By Queen Count
				<br />
				<input 
					type="radio" 
					name="draftType" 
					id="id_draftType_byTeamSize" 
					value="byTeamSize" 
					ng-model="draftType"
					ng-change="setPreview(draftType, draftVariable)"> By Team Size
			</div>
				<div class="col-2">
					<label for="draftVariable" >
						<span ng-if="draftType == 'byTeamSize'">
							Team Size: </span>
						<span ng-if="draftType == 'byQueenCount'">
							Queen allowance: </span>
					</label>
				</div>
				<div class="col-3">
					<input type="number" id="id_draftVariable" name="draftVariable" class="form-control" ng-model="draftVariable" ng-change="setPreview(draftType, draftVariable)" />
					<span class="help_text" ng-if="draftType == 'byTeamSize'">The number of queens to be drafted for each team</span>
					<span class="help_text" ng-if="draftType == 'byQueenCount'">The number of times each queen can be selected in the draft</span>
				</div>
				<div class="col">
					<input type="submit" class="btn btn-primary form-control" value="Start manual draft" ng-click="startDraft(draftType, draftVariable)"/>
				</div>
		</div>
		<div class="row"><div class="spacer-medium"></div></div>
		<div class="row">
			<div class="col">
				{% verbatim %}
				<h5 class="marker">Draft Breakdown</h5>
				<table class="table">
					<tr ng-if="draftType == 'byQueenCount'">
						<th>
							Draft slot
						</th>
						<th>
							Team Size
						</th>
					</tr>
					<tr ng-if="draftType == 'byTeamSize'">
						<th>
							Queen slot
						</th>
						<th>
							Number of drafts
						</th>
					</tr>
					<tr ng-repeat="dp in draftPreview">
						<th>{{dp.draftKey}}</th><td>{{dp.numDrafts}}</td>
					</tr>
				</table>
				{% endverbatim %}
			</div>
		</div>
	</span>


	<span ng-show="panel.status=='open' && !isCaptain">
		<div class="row">
			<div class="col alert alert-danger">
				Hang tight! A team captain needs to start the draft.
			</div>
		</div>
	</span>

	<span ng-show="panel.status!='open'">

		<div class="row"><div class="spacer-small"></div></div>
		<div class="row">
			{% verbatim %}
			<div class="col alert alert-success">
				<h3 class="marker">Round {{draft.draft_index}}</h3>
			</div>
			{% endverbatim %}
		</div>
		<div class="row"><div class="spacer-small"></div></div>

		<div class="row">
			<div ng-if="isCaptain" class="col alert alert-warning">
				<h4 class="marker">Captain tools</h4>
				{% verbatim %}
				<input type="submit" class="btn btn-danger form-control" value="Restart" ng-click="draftPut('reset_draft')"/>
				{% endverbatim %}
			</div>
			<div class="col">
				<table class="table table-bordered">
					<tr><th>Draft Order</th></tr>
					{% verbatim %}
					<tr ng-repeat="participant in participants"
					ng-class="{'current-draft-participant': participant.participant == currentParticipant}">
						<td>
						{{participant.participant.name}}
						</td>
					</tr>
					{% endverbatim %}
				</table>
			</div>
			<div class="col" ng-show="panel.status=='in draft'">
				{% verbatim %}
				<label for="queen"><h3>Select a queen for {{currentParticipant.name}}</h3></label>
				<select id="id_queen" name="queen" class="form-control">
					<option ng-repeat="queen in availableQueens" value="{{queen.pk}}">{{queen.name}}</option>
				</select>
				<input type="submit" class="form-control btn btn-success" value="select queen" ng-click="selectQueen()"/>
				{% endverbatim %}
			</div>
			<div class="col" ng-show="panel.status=='active'">
				<div class="alert alert-info">
					Draft is closed!
				</div>
			</div>
			<div class="col">
				<h3>Drafts</h3>
				<table class="table">
					<tr>
						<th>Round</th><th>Player</th><th>Queen</th>
					</tr>
					{% verbatim %}
					<tr ng-repeat="draft in drafts">
						<td>{{draft.round_selected}}</td>
						<td>{{draft.participant.name}}</td>
						<td>{{draft.queen.name}}</td>
					</tr>
					{% endverbatim %}
				</table>
			</div>
		</div>
	</span>

</span>
{% endblock %}