{% extends 'base.html' %}
{% load static helper_tags %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static 'vendor/angular/angular.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'angular/episodescore.js' %}"></script>
{% endblock %}

{% block page_content %}
<span id='episodeScoreModule' ng-controller='episodeScoreController'>
	<input type="hidden" id="id_episodeId" value="{{episode.pk}}" />

	<div class="row">
		<div class="col">
			<h3>{{drag_race.display_name}}</h3>
		</div>
		<div class="col-1">
			<a href="{% url 'set_episode_wildcards' dragrace_id=drag_race.pk episode_id=episode.pk%}" class="marker">Widlcards</a>
		</div>
	</div>

	<div class="row">
		<div class="col">
			{% verbatim %}
			<h1 ng-show="!editTitle">Episode #{{episode.number}}<span ng-if="episode.title">: {{episode.title}}</span></h1>
			{% endverbatim %}

			{% if participant.site_admin %}
			{% verbatim %}
				<input ng-show="editTitle" type="text" class="form-control" ng-model="episode.title" />
			{% endverbatim %}
			{% endif %}
		</div>
		{% if participant.site_admin %}
		<div class="col">
			<button class="btn btn-danger btn-sm" 
				ng-click="editTitle=true"
				ng-show="!editTitle">[E]</button>
			<button class="btn btn-primary btn-sm" 
				ng-click="editTitle=false; patchEpisode({'title': episode.title})"
				ng-show="editTitle"
				>[S]</button>
		</div>
		{% endif %}
	</div>

	{% if participant.site_admin %}
		<div class="row">
			<div class="col">
				<input ng-if="episode.is_scored" type="submit" id="id_unsetscored" name="unsetscored" value="Unset episode as scored" class="form-control btn btn-danger" ng-click="patchEpisode({'is_scored': false})"/>

				<input ng-if="!episode.is_scored" type="submit" id="id_setscored" name="setscored" value="Set episode as scored" class="form-control btn btn-danger" ng-click="patchEpisode({'is_scored': true})"/>
			</div>
		</div>
		<div class="row">
			<div class="col">
				{% csrf_token %}
				{% verbatim %}
				<label for="rule">Rule:</label>
				<select 
					id="id_rule" 
					name="rule" 
					class="form-control"
					ng-change="updateCurrentRule()"
					ng-model="ruleSelector">
					<option 
					ng-model="currentRule" ng-repeat="rule in rules track by $index" value="{{$index}}">({{rule.point_value}} pts) {{rule.name}}</option>
				</select>
				<label for="queen">Queen:</label>
				<select 
					id="id_queen" 
					name="queen" 
					class="form-control"
					ng-change="updateCurrentQueen()"
					ng-model="queenSelector">>
					<option ng-model="currentQueen" ng-repeat="queen in queens track by $index" value="{{$index}}">{{queen.name}}</option>
				</select>
				<div class="spacer-medium"></div>
				<input ng-if="currentQueen && currentRule" type="submit" value="add score" class="form-control btn btn-primary" name="addscore" id="id_addscore" ng-click="addScore(currentRule, currentQueen)"/>
				{% endverbatim %}
			</div>
		</div>
	{% endif %}
	<div class="row">
		<div class="col">
			<table class="table">
				<tr>
					<th>Queen</th><th>Score</th><th>Points</th><td></td>
				</tr>
				<tr ng-repeat="score in scores">
					{% verbatim %}
					<th>{{score.queen.name}}</th>
					<td>
						<p>{{score.rule.name}}</p>
						<p class="text-secondary">{{score.rule.description}}</p>
					</td>
					<td>{{score.rule.point_value}}</td>

					{% endverbatim %}
					<td>
						{% if participant.site_admin %}

							{% verbatim %}
								<input type="submit" class="btn btn-sm btn-danger" value="remove" name="deletescore" id="id_deletescore_{{score.pk}}"
								ng-click="deleteScore(score)">
							{% endverbatim %}
						{% endif %}
					</td>
				</tr>
			</table>
		</div>
	</div>
</span>
{% endblock %}