{% verbatim %}
<span ng-if="dragrace.episode_drafts.data">
	<p>Points: {{dragrace.general_rank.data.participant_total}}</p>
	<p>Rank: {{dragrace.general_rank.primary_stat_display}} / {{dragrace.general_rank.data.total_players}}</p>
</span>

<h3 class="marker">Queens</h3>
<table class="table">
	<tr ng-repeat="queen in dragrace.queens">
		<td><a href="/queens/{{queen.queen.pk}}/">{{queen.queen.name}}</a></td><td>{{queen.total_score}}</td>
	</tr>
</table>
<h3 ng-if="dragrace.next_episode">Next episode: #{{dragrace.next_episode.number}}</h3>
<h4 ng-if="dragrace.next_episode_draft">My Draft:</h4>
<table class="table" ng-if="dragrace.next_episode_draft">
	<tr ng-repeat="queen in dragrace.next_episode_draft.selected_queens"><td>{{queen.name}}</td></tr>
</table>
<span ng-if="featureFlags.GENERAL_DRAFT">
	<span ng-if="dragrace.next_episode ">
		<a href="{{dragrace.next_episode.edit_draft_url}}"><button class="btn btn-primary form-control" ng-if="!dragrace.next_episode_draft">Draft a Team for Episode #{{dragrace.next_episode.number}}</button></a>
		<a href="{{dragrace.next_episode.edit_draft_url}}"><button class="btn btn-primary form-control" ng-if="dragrace.next_episode_draft">Edit Draft for Episode #{{dragrace.next_episode.number}}</button></a>
	</span>
</span>
<div class="spacer-medium"></div>
{% endverbatim %}