{% verbatim %}
<h4 class="marker">Episodes</h4>
<span ng-repeat="episode in dragrace.episodes">
	<a id="episode_{{episode.pk}}"></a>
	<table class="table">
		<tbody>
		<tr ng-if="episode.is_scored && episode.is_viewed">
			<td>
				<div class="help clickable"
					data-toggle="tooltip" 
					data-placement="top" title="Expand Episode Details"
					ng-click="toggleEpisodeDetail(episode)">
					#{{episode.number}} {{episode.title}}
				</div>
				<div ng-if="episode.draft.rank_tier > 0 && episode.is_viewed">
					<span style="float: left;">
						Rank: {{episode.draft.rank_tier}} / {{episode.draft.total_participants}}
					</span>
					<span style="float: right;">
						Score: {{episode.draft.total_score}} pts
					</span>
				</div>
			</td>
		</tr>
		<tr ng-if="!episode.is_scored" 
			class="help"
			data-toggle="tooltip" 
			data-placement="left" title="This episode has not been scored yet"
			ng-click="toggleEpisodeDetail(episode)">
			<td>
				<span >
					#{{episode.number}} {{episode.title}}
					<span class="entities entities-alert" >&#9733;</span>
				</span>
			</td>
		</tr>
		<tr ng-if="episode.is_scored && !episode.is_viewed" 
			class="help"
			data-toggle="tooltip" 
			data-placement="left" title="You have not ruvealed scores for this episode"
			ng-click="toggleEpisodeDetail(episode)">
			<td>
				<span >
					#{{episode.number}} {{episode.title}}
					<span class="entities entities-alert" >&#9733;</span>
				</span>
			</td>
		</tr>
		<tr ng-if="featureFlags.GENERAL_DRAFT && expandedEpisodes.indexOf(episode) !== -1">
			<td>
				<span ng-if="episode.draft.drafted_queens.length > 0">
					<p class="font-weight-bold">Episode Draft</p>
					<table class="table">
						<tr ng-if="episode.is_scored"><th>Total</th><th>{{episode.draft.score}} pts</th></tr>
						<tr ng-repeat="queen in episode.draft.drafted_queens">
							<td>{{queen.name}}</td>
							<td ng-if="episode.is_scored">{{episode.queens[queen.pk].score}} pts</td>
						</tr>
					</table>
				</span>
			</td>
		</tr>
		<tr ng-if="featureFlags.GENERAL_DRAFT && expandedEpisodes.indexOf(episode) !== -1 && !episode.has_aired">
			<td>
				<a href="episode/{{episode.pk}}/draft/" class="btn btn-primary form-control">
					<span ng-if="episode.draft.pk">Edit Episode Draft</span>
					<span ng-if="!episode.draft.pk">Create Episode Draft</span>
				</a>
			</td>
		</tr>
		<tr ng-if="episode.is_scored && episode.is_viewed">
			<td ng-if="expandedEpisodes.indexOf(episode) !== -1">
				<p class="font-weight-bold">Episode Scores</p>
				<table class="table">
					<tr ng-repeat="queen in episode.queens">
						<td>{{queen.name}}</td>
						<td>{{queen.score}}pts</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr ng-if="episode.is_scored && !episode.is_viewed">
			<td ng-if="expandedEpisodes.indexOf(episode) !== -1">
				<button class="btn btn-warning form-control"
				ng-click="ruvealScores(episode, dragrace)">
					Ruveal Scores!
				</button>
			</td>
		</tr>
		<tr ng-if="episode.is_scored && episode.is_viewed">
			<td ng-if="expandedEpisodes.indexOf(episode) !== -1">
				<button class="btn btn-warning form-control"
				ng-click="hideScores(episode, dragrace)">
					Hide Scores!
				</button>
			</td>
		</tr>
		<tr ng-if="episode.is_viewed">
			<td colspan="100%" ng-if="expandedEpisodes.indexOf(episode) !== -1">
				<a href="{{episode.detail_url}}">
					<button class="btn btn-info form-control">Episode Detail</button></a>
				</td>
		</tr>
		<tr ng-if="user.is_site_admin">
			<td colspan="100%" ng-if="expandedEpisodes.indexOf(episode) !== -1">
				<a href="{{episode.detail_url}}score/">
					<button class="btn btn-danger form-control">Score Episode</button></a>
				</td>
		</tr>
		</tbody>
	</table>
</span>
{% endverbatim %}