{% verbatim %}
<h4 class="marker">Episodes</h4>
<span ng-repeat="episode in dragrace.episodes">
	<a id="episode_{{episode.pk}}"></a>
	<table class="table">
		<tbody>
		<tr ng-if="episode.is_viewed" class="clickable">
			<td class="help"
					data-toggle="tooltip" 
					data-placement="top" title="Expand Episode Details"
					ng-click="toggleEpisodeDraft(episode)">
				#{{episode.number}} {{episode.title}}
			</td>
		</tr>
		<tr ng-if="!episode.is_viewed" 
			class="help"
			data-toggle="tooltip" 
			data-placement="left" title="You have not ruvealed scores for this episode"
			ng-click="toggleEpisodeDraft(episode)">
			<td>
				<span >
					#{{episode.number}} {{episode.title}}
					<span class="entities entities-alert" >&#9733;</span>
				</span>
			</td>
		</tr>
		<tr ng-if="episode.is_viewed" >
			<td ng-if="expandedEpisodes.indexOf(episode) !== -1">
				<p>Episode Draft</p>
				<table class="table">
					<tr><th>Total</th><th>{{dragrace.episode_drafts.data.episodes[episode.number].total}} pts</th></tr>
					<tr ng-repeat="(queen, score) in dragrace.episode_drafts.data.episodes[episode.number].queens">
						<td>{{queen}}</td><td>{{score}} pts</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr ng-if="!episode.is_viewed">
			<td ng-if="expandedEpisodes.indexOf(episode) !== -1">
				<button class="btn btn-warning form-control"
				ng-click="ruvealScores(episode, dragrace)">
					Ruveal Scores!
				</button>
			</td>
		</tr>
		<tr ng-if="episode.is_viewed">
			<td colspan="100%" ng-if="expandedEpisodes.indexOf(episode) !== -1">
				<a href="{{episode.detail_url}}">
					<button class="btn btn-info form-control">Episode Detail</button></a>
				</td>
			</tr>
		</tbody>
	</table>
</span>
{% endverbatim %}