{% verbatim %}
<span ng-if="dragrace.status == 'open' || dragrace.panels">
	<h4 class="marker">Panels</h4>
	<table class="table">
		<tbody ng-repeat="panel in dragrace.panels">
			<tr class="help"
					data-toggle="tooltip" 
					data-placement="left" title="View Panel Details"
					ng-click="togglePanel(panel)">
				<td>
					{{panel.name}}
				</td>
			</tr>
			<tr>
				<td ng-if="expandedPanels.indexOf(panel) !== -1">
					<p>Participants</p>
					<table class="table">
						<tbody ng-repeat="panelist in panel.panelists">
							<tr>
								<td>
									<a href="/panel/{{panel.pk}}/panelist/{{panelist.panelist.pk}}/">{{panelist.panelist.name}}</a>
								</td>
								<td>{{panelist.total_score}} pts</td>
							</tr>
						</tbody>
					</table>
					<a href="{{panel.detail_url}}"><button class="btn btn-info form-control">Panel Details</button></a>
					<div class="spacer-small"></div>
				</td>
			</tr>
				
			<tr ng-if="panel.status == 'in draft' || panel.status == 'wildcards'">
				<td>
					<a href="{{panel.draft_url}}"><button class="btn btn-primary form-control">Go to draft</button></a>
				</td>
			</tr>
		</tbody>
	</table>
	<span ng-if="dragrace.status == 'open' && featureFlags.START_PANEL">
		<div class="spacer-small"></div>
		<div>
			<a href="{{dragrace.new_panel_url}}"><button class="btn btn-primary form-control">Start a new panel</button></a>
		</div><div class="spacer-small"></div>
		<div>
			<a href="{{dragrace.public_panels_url}}"><button class="btn btn-info form-control">Find a panel</button></a>
		</div>
	</span>
	<div class="spacer-small"></div>
</span>
{% endverbatim %}