{% extends 'base.html' %}
{% load static %}

{% block page_title %} | Dashboard{% endblock %}

{% block extra_scripts %}
	<script type="text/javascript" src="{% static 'urlUtils.js' %}"></script>
	<script type="text/javascript" src="{% static 'angular/dashboard.js' %}"></script>
{% endblock %}

{% block page_content %}
{% if is_site_admin %}
<div class="row">
	<div class="col-lg-2 col-sm-12">
		<a href="{% url 'drag_race_new' %}">
			<button class="btn btn-primary form-control">New Drag Race</button>
		</a>
	</div>
</div>
{% endif %}
<span ng-repeat="dragrace in dragRaces">
	{% verbatim %}
	<div class="row">
		<div class="col-md-12 col-sm-6">
			<h1>
				{{dragrace.display_name}}
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-4"><p class="marker">
			<a href="{{dragrace.rules_url}}">Rules</a>
			</p>
			<p class="marker">
				<a href="{{dragrace.detail_url}}">
				Stats</a>
			</p>
			<p class="marker" ng-if="user.is_site_admin">
				<a href="{{dragrace.edit_url}}">
				Edit Drag Race</a>
			</p>
			<p class="marker" ng-if="user.is_site_admin">
				<a href="{{dragrace.detail_url}}episode/new/">
				Add Episode</a>
			</p>
		</div>
		<div class="col-md-8 col-sm-12 font-weight-bold">
			<div>Dragrace Draft Scores</div>
			<span ng-if="!dragrace.all_episodes_viewed">
				<div class="alert alert-warning">
					You must ruvealed all episodes for this Drag Race to see scores.
				</div>
			</span>
			<span ng-if="!dragrace.has_participated_in_drafts">
				<div class="alert alert-warning">
					You have not participated in any episode drafts :(
				</div>
			</span>
			<span ng-if="dragrace.all_episodes_viewed">
				<table class="table">
					<tr>
						<th>Participant</th><th>Rank</th><th>Score</th>
					</tr>
					<tr ng-repeat="score in dragrace.dragrace_draft_score"
					ng-class="{'selected': score.participant.pk == user.pk}">
						<td>{{score.participant.name}}</td>
						<td>{{score.rank_tier}}</td>
						<td>{{score.total_score}}</td>
					</tr>
				</table>

			</span>
			
		</div>
	</div>
	{% endverbatim %}
	<div class="spacer-small"></div>
	<div class="row">
		
		<div class="col-md-4 col-sm-12" ng-if="dragrace.panels.length > 0">
			{% include 'pages/dashboard/includes/panels-rail.html' %}
		</div>
		<div class="col-md-4 col-sm-12">
			{% include 'pages/dashboard/includes/dragrace-rail.html' %}
		</div>
		<div class="spacer-small"></div>
		<div class="col">
			{% include 'pages/dashboard/includes/episodes-rail.html' %}
		</div>
	</div>
	<div class="row">
		<div class="col"><hr></div>
	</div>
</span>
<div class="row">
	<div class="col">
		<button class="btn btn-info form-control" ng-show="!showAll" ng-click="showAll=true; fetchPastSeasons()">Show All Drag Races</button>
		<button class="btn btn-info form-control" ng-show="showAll" ng-click="showAll=false;">Hide Old Drag Races</button>
	</div>

</div>
<div class="spacer-medium"></div>
<span ng-repeat="dragrace in oldDragRaces" ng-show="showAll">
	{% verbatim %}
	<div class="row">
		<div class="col-md-12 col-sm-6">
			<h1>
				{{dragrace.display_name}}
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-sm-6"><p class="marker">
			<a href="{{dragrace.rules_url}}">Rules</a>
			</p>
			<p class="marker">
				<a href="{{dragrace.detail_url}}">
				Stats</a>
			</p>
			<p class="marker" ng-if="user.is_site_admin">
				<a href="{{dragrace.edit_url}}">
				Edit Drag Race</a>
			</p>
		</div>
	</div>
	{% endverbatim %}
	<div class="row">

		<div class="col-lg-4 col-sm-12" ng-if="dragrace.panels.length > 0">
			{% include 'pages/dashboard/includes/panels-rail.html' %}
		</div>

		<div class="col-lg-4 col-sm-12">
			{% include 'pages/dashboard/includes/dragrace-rail.html' %}
		</div>
		<div class="spacer-small"></div>
		<div class="col">
			{% include 'pages/dashboard/includes/episodes-rail.html' %}
		</div>
	</div>
	<div class="row">
		<div class="col"><hr></div>
	</div>
</span>
{% endblock %}