<div class="row"><div class="spacer-small"></div></div>
<div class="row">
	{% verbatim %}
	<div class="col alert alert-success">
		<h3  ng-show="panel.status=='in draft'" class="marker">Round {{panel.current_round}}</h3>
		<h3  ng-show="panel.status=='wildcards'" class="marker">Wildqueen Draft</h3>
	</div>
	{% endverbatim %}
</div>
<div class="row"><div class="spacer-small"></div></div>

<div class="row">
	<div ng-if="isCaptain" class="col alert alert-warning">
		<h4 class="marker">Captain tools</h4>
		{% verbatim %}
		<input type="submit" class="btn btn-danger form-control" value="Restart" ng-click="draftPut('reset_draft')"/>
		{% endverbatim %}
	</div>
	<div class="col">
		<table class="table table-bordered">
			<tr><th>Draft Order</th></tr>
			{% verbatim %}
			<tr ng-repeat="participantpk in participant_order"
			ng-class="{'current-draft-participant': participantpk == currentParticipant.pk}">
				<td>
				{{participants[participantpk].name}}
				</td>
			</tr>
			{% endverbatim %}
		</table>
		<button ng-show="selectedQueen && ((isCaptain || isAdmin) || isCurrentPlayer)" class="form-control btn btn-success" ng-click="draftQueen(false)"/>Draft Queen</button>
	</div>
	{% verbatim %}
		<div class="col" ng-repeat="participant in participants" ng-show="participant == currentParticipant">
			<span ng-show="(isCaptain || isAdmin) || isCurrentPlayer">
				<label for="queen">
					<h3 ng-show="panel.status=='in draft'">Select a queen for {{participant.name}}</h3>
					<h3 ng-show="panel.status=='wildcards'">Select a wildqueen for {{participant.name}}</h3>
				</label>
				<table class="table">
					<tr 
						class="selectable"
						ng-class="{'selectable-selected': queen == selectedQueen}"
						ng-repeat="queen in participant.availableQueens"
						ng-click="selectQueen(queen)">
						<td>{{queen.name}}</td>
					</tr>
				</table>
				<button ng-show="selectedQueen && ((isCaptain || isAdmin) || isCurrentPlayer)" class="form-control btn btn-success" ng-click="draftQueen(true)"/>Draft Queen</button>
			</span>
			<span ng-show="!(isCaptain || isAdmin) && !isCurrentPlayer">
				<div class="alert alert-info">
					Waiting for {{participant.name}} to make a selection
				</div>
			</span>
		</div>
	{% endverbatim %}
	<div class="col">
		<h3>Drafts</h3>
		<table class="table">
			{% verbatim %}
			<tbody ng-show="panel.status=='in draft'">
				<tr>
					<th>Round</th><th>Player</th><th>Queen</th>
				</tr>
				<tr ng-repeat="draft in drafts">
					<td>{{draft.round_selected}}</td>
					<td>{{draft.participant.name}}</td>
					<td>{{draft.queen.name}}</td>
				</tr>
			</tbody>
			<tbody ng-show="panel.status=='wildcards'">
				<tr>
					<th>Player</th><th>Queen</th>
				</tr>
				<tr ng-repeat="draft in wqDrafts">
					<td>{{draft.participant.name}}</td>
					<td>{{draft.queen.name}}</td>
				</tr>
			</tbody>
			{% endverbatim %}
		</table>
	</div>
</div>	