<div class="row">
	<div class="col">
		<input type="submit" class="btn btn-primary form-control" value="Start Draft!" ng-click="startDraft(wilcardAllowance)"/>
	</div>
</div>

<div class="row"><div class="spacer-medium"></div></div>
<div class="row">
	<div class="col">
		{% verbatim %}
		<h5 class="marker">Draft Preview</h5>
		<table class="table">
			<tr>
				<th>
					Round
				</th>
				<th>
					Draft Slot
				</th>
			</tr>
			<tr ng-repeat="draft in formattedDraftInfo">
				<td>Round #{{draft.number}}</td>
				<td>
					<div ng-repeat="player in draft.playerDrafts">Player {{player}}</div>
				</td>
			</tr>
		</table>
		{% endverbatim %}
	</div>
</div>