{% load helper_tags %}
<h2 class="marker">Queen Scorecard</h2>
<table class="table">
	<tr><th>Queen</th><th>Current Score</th></tr>
	{% for pk, queen in queen_stats.data.queens.items %}
		<tr>
			<td>
				<p><a href="{% url 'queen_detail' queen_id=queen.pk %}" class="spoiler" data-toggle="tooltip" data-placement="bottom" title="May contain spoilers" ><span class="spoiler-alert">&#9889;</span>{{queen.name}}</a></p>
				<p class="text-secondary"></p>
			</td>
			<td>{{queen.total}}</td>
		</tr>
	{% endfor %}
</table>