{% load helper_tags %}
<h3><span class="marker">Queen Scorecard</span></h3>
<table class="table">
	<tr><th>Queen</th><th>Current Score</th></tr>
	{% for queen_stat in queen_stats %}
		<tr>
			<td>
				<p><a href="{% url 'queen_detail' queen_id=queen_stat.queen.pk %}">{{queen_stat.queen.name}}</a></p>
				{% with queen_stat.queen|get_panelists_for_queen:panel as draft_list %}
				<p class="text-secondary">{{draft_list}}</p>
				{% endwith %}
			</td>
			<td>{{queen_stat.total_score|number}}</td>
		</tr>
	{% endfor %}
</table>