$small-phone: 767.98px;

$small-screen-font-size: 20px;
$large-screen-font-size: 16px;

$background-color: #5767ef;
$highlight-color: #dc61d3;
$app-black: #333333;
$true-black: #000000;
$app-white: #ffffff;

$danger: #a08af7;
$danger-hover: #7f62f1;

$success: #f5d16c;
$success-hover: #f3e3b7;

$info: #2dbfd6;
$info-hover: #2cc9e2;

$selected: #f5a2f2;

$edit-icon-size: 2.2rem;

@mixin header {
	color: $app-black;
	font-family: 'Lato', sans-serif;
}

@mixin marker {
	font-family: 'Rock Salt', sans-serif;
	a {
		/* font-size: 1.7rem; */
	}
}

.marker {
	@include marker;
}

body {
	background-image: url('/static/site_images/bg-lightening.png')
}

.body {
	margin-top: 1rem !important;
	padding-bottom: 3rem !important;
	background-color: #FFFFFF;
	padding: 1rem;
	border-radius: 15px;
}

.container-fluid-shrink {
	width: 90%;
	@media (min-width: $small-phone) {
		width: 100%;
	}
}

.row {
	margin: 0 !important;
}

form label {
	@include marker;
}

form.plain label {
	font-family: 'Lato', sans-serif !important;
}

label.label {
	&-plain {
		font-family: 'Lato', sans-serif;
		font-size: inherit;
	}
}

.navbar>.container, .navbar>.container-fluid{

}
.navbar .container {
	padding: 0 !important;
	img {
		width: 36px;

		@media (min-width: $small-phone) {
			width: 60px;
		}
	}
}
.container-fluid {
	padding-right: 0 !important;
	padding-left: 0 !important;
}

.navbar-dark .navbar-nav .nav-link {
	color: $highlight-color !important;
	&:hover {
		color: #b6bdfb !important;
	}
}

.navbar-dark {
	@include header;
	font-size: 1.2rem;
	.navbar-brand {
		@include marker;
		color: $highlight-color;
		font-size: 1.5rem;
	 	&:hover {
			color: #b6bdfb !important;
	 	}
		@media (min-width: $small-phone) {
			font-size: 2.6rem;
		}
	}
}

.fullwidth {
	width: 100%
}

.nav-group {
	display: inline-block;
	&-right {
		float: right;
	}
	&-left {
		float: left;
	}
}

ul.navbar-nav {
	display: block;
	li {
		display: inline-block;
		font-size: 15px;
		@media (min-width: $small-phone) {
			font-size: 30px;
			margin-left: 3rem;
		}
	}
}

footer {
	.navbar {
		color: $highlight-color !important;
	}
}

.row {
	margin: 0;
	@media (min-width: $small-phone) {
		margin: 0 -15px;
	}
}

body {
	font-size: $small-screen-font-size;
	background-color: $app-white !important;
	a {
		color: $highlight-color;
		font-weight: bold;
		text-decoration: none;
		&:hover {
			text-decoration: none;
			color: $background-color;
		}
	}
	@media (min-width: $small-phone) {
		font-size: $large-screen-font-size;
	}
}

table {
	font-size: $small-screen-font-size;
	@media (min-width: $small-phone) {
		font-size: $large-screen-font-size;
	}
}

.bg-dark {
	background-color: $true-black !important;
}

.btn {
	color: $app-black;
	border-color: $true-black;
	&:disabled {
		background-color: #b5b6b7;
		border-color: $true-black;
		&:hover {
			background-color: #b5b6b7;
			border-color: $true-black;
			color: white;
		}
	}
	&:hover {
		color: $app-black;
		border-color: $true-black;
	}
	border-color: #807b7b;
	&-danger {
		background-color: $danger;
		&:hover {
			background-color: $danger-hover;
		}
	}
	&-success {
		background-color: $success;
		&:hover {
			background-color: $success-hover;
		}
	}
	&-primary {
		background-color: $highlight-color;
		&:hover {
			background-color: #ea4fe0;
		}
	}
	&-info {
		background-color: $info;		
		&:hover {
			background-color: $info-hover;
		}
	}
	&-fullheight {
		height: 100%;
	}
}

.alert {
	text-align: center;
	&-success, &-info {
		background-color: $highlight-color;
		color: $true-black;
		border-color: $app-black;
	}
	&-info {
		background-color: $info;
	}
	&-plain {
		border: 1px solid black;
	}
	&-danger, &-error {
		color: $true-black;
		border-color: $app-black;
		background-color: $danger;
		a {
			color: $true-black;
			text-decoration: underline;
			&:hover {
				color: #cdcdcd;
				text-decoration: underline;
			}
		}
	}
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1, .h1 {
	@include header;
	font-size: 2.1rem;
	line-height: 3rem;
}

h2, .h2 {
	@include header;
	font-size: 1.7rem;
	line-height: 2rem;
}

h3, .h3 {
	@include header;
	font-size: 1.5rem;
	line-height: 2rem;
}

h4, .h4 {
	@include header;
	font-size: 1.3rem;
	line-height: 1.8rem;
}
.spacer {
	display: block;
	width: 100%;
	&-medium {
		height: 2.5rem;
	}
	&-small {
		height: 1.5rem;
	}
}

.current-draft-participant {
	background-color: $selected;
}

.selected {
	background-color: $selected;
}

.mute {
	color: #CCCCCC
}

.clickable {
	cursor: pointer;
	color: $highlight-color;
	font-weight: bold;
}
.help {
	cursor: help;
	color: $highlight-color;
	font-weight: bold;
}

.selectable {
	&:hover {
		background-color: $selected;
	}
	&-selected {
		background-color: $success;
	}
}
.icon-bumper {
	margin-left: 1.8rem;
}
.icon {
	display: inline-block;
	&-btn {
		img{
			width: 1.5rem;
			height: 1.5rem;
		}
	}
	&-placeholder {
		width: 1.5rem;
		height: 1.5rem;
	}
}

.editable {
	border-bottom: 1px dotted $app-black;
	&-icon {
	    background: url(../static/site_images/lipstick.png) no-repeat top right;
	    background-size: $edit-icon-size $edit-icon-size;
	    width: $edit-icon-size;
	    height: $edit-icon-size;
	    border: 0;
	    margin-top: -1rem;
	    float: right;
	    padding-right: 5rem;
	}
	&-label {
		padding-right: 1rem;
	}
	&-submit {
		width: $edit-icon-size;
	    height: $edit-icon-size;
	    border: 0;
	    color: $success;
	    background: none;
	    font-size: 3rem;
	    margin-top: -1rem;
	    float: right;
	    padding-right: 5rem;
	}
}

.as-table {
	display: table;
	.as-row {
		display: table-row;
	}
	.as-cell {
		display: table-cell;
	}
}
.table {
	font-size: 16px;
	@media (min-width: $small-phone) {
		font-size: 20px;
	}

}
.form-control {
	&-small {
		width: 6rem;
		float: right;
	}
	&-medium {
		width: 12rem;
		float: right;
	}
}

.form {
	&-label {
		&-small {
			width: 15rem;
		}
	}
	&-helptext {
		font-size: .9rem;
		font-style: italic;
	}
	&-error {
		font-weight: bold;
		color: $highlight-color;
	}
}

.entities {
	&-alert {
		color: RED;
	}
}

.loading {
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(130,130,130,0.7);
	margin: 0px;
	position: fixed;
    top: 0;
    left: 0;
    .spinner {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-top: 20%;
    }
}
