.marker {
  font-family: "Rock Salt", sans-serif;
}
.marker a {
  /* font-size: 1.7rem; */
}

form label {
  font-family: "Rock Salt", sans-serif;
}
form label a {
  /* font-size: 1.7rem; */
}

.container {
  margin-top: 1rem !important;
  padding-bottom: 3rem !important;
}

.container-fluid {
  padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #dc61d3 !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #b6bdfb !important;
}
.navbar-dark .navbar-nav .nav-link img {
  width: 60px;
}

.navbar-dark {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}
.navbar-dark .navbar-brand {
  font-family: "Rock Salt", sans-serif;
  color: #dc61d3;
  font-size: 1.5rem;
}
.navbar-dark .navbar-brand a {
  /* font-size: 1.7rem; */
}
.navbar-dark .navbar-brand:hover {
  color: #b6bdfb !important;
}
@media (min-width: 767.98px) {
  .navbar-dark .navbar-brand {
    font-size: 2.6rem;
  }
}

ul.navbar-nav {
  display: block;
  float: right;
}
ul.navbar-nav li {
  display: inline-block;
  margin-left: 1rem;
  font-size: 15px;
}
@media (min-width: 767.98px) {
  ul.navbar-nav li {
    font-size: 30px;
    margin-left: 3rem;
  }
}

.row {
  margin: 0;
}
@media (min-width: 767.98px) {
  .row {
    margin: 0 -15px;
  }
}

body {
  font-size: 20px;
  background-color: #ffffff !important;
}
body a {
  color: #dc61d3;
  font-weight: bold;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
  color: #5767ef;
}
@media (min-width: 767.98px) {
  body {
    font-size: 16px;
  }
}

table {
  font-size: 20px;
}
@media (min-width: 767.98px) {
  table {
    font-size: 16px;
  }
}

.bg-dark {
  background-color: #000000 !important;
}

.btn {
  color: #333333;
  border-color: #000000;
  border-color: #807b7b;
}
.btn:hover {
  color: #333333;
  border-color: #000000;
}
.btn-danger {
  background-color: #8ae3f7;
}
.btn-danger:hover {
  background-color: #1cb9dc;
}
.btn-success {
  background-color: #f5d16c;
}
.btn-success:hover {
  background-color: #f3e3b7;
}
.btn-primary {
  background-color: #dc61d3;
}
.btn-primary:hover {
  background-color: #ea4fe0;
}

.alert-success, .alert-info {
  font-family: "Rock Salt", sans-serif;
  background-color: #dc61d3;
  color: #000000;
  border-color: #333333;
}
.alert-success a, .alert-info a {
  /* font-size: 1.7rem; */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, .h1 {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 2.1rem;
}

h2, .h2 {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
}

h3, .h3 {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
}

h4, .h4 {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
}

.spacer {
  display: block;
  width: 100%;
}
.spacer-medium {
  height: 2.5rem;
}
.spacer-small {
  height: 1.5rem;
}

.current-draft-participant {
  background-color: #f5a2f2;
}

.selectable:hover {
  background-color: #f5a2f2;
}
.selectable-selected {
  background-color: #f5d16c;
}

.editable {
  border-bottom: 1px dotted #333333;
}
.editable-icon {
  background: url(../static/site_images/lipstick.png) no-repeat top right;
  background-size: 2.2rem 2.2rem;
  width: 2.2rem;
  height: 2.2rem;
  border: 0;
  margin-top: -1rem;
  float: right;
  padding-right: 5rem;
}
.editable-label {
  padding-right: 1rem;
}
.editable-submit {
  width: 2.2rem;
  height: 2.2rem;
  border: 0;
  color: #f5d16c;
  background: none;
  font-size: 3rem;
  margin-top: -1rem;
  float: right;
  padding-right: 5rem;
}

.as-table {
  display: table;
}
.as-table .as-row {
  display: table-row;
}
.as-table .as-cell {
  display: table-cell;
}

/*# sourceMappingURL=app.css.map */
