.marker {
  font-family: "Rock Salt", sans-serif;
}
.marker a {
  /* font-size: 1.7rem; */
}

body {
  background-image: url("/static/site_images/bg-lightening.png");
}

.body {
  margin-top: 1rem !important;
  padding-bottom: 3rem !important;
  background-color: #FFFFFF;
  padding: 1rem;
  border-radius: 15px;
}

.container-fluid-shrink {
  width: 90%;
  min-height: calc(100vh - 200px);
}
@media (min-width: 767.98px) {
  .container-fluid-shrink {
    width: 100%;
  }
}

.row {
  margin: 0 !important;
}

form label {
  font-family: "Rock Salt", sans-serif;
  font-size: 1rem;
}
form label a {
  /* font-size: 1.7rem; */
}

.form-control-small {
  width: 6rem;
  float: right;
}
.form-control-medium {
  width: 12rem;
  float: right;
}

.form-label-small {
  width: 15rem;
}
.form-helptext {
  font-size: 0.9rem;
  font-style: italic;
}
.form-error {
  font-weight: bold;
  color: #dc61d3;
}

.inline {
  display: inline;
}

form.plain label {
  font-family: "Lato", sans-serif !important;
}

label.label-plain {
  font-family: "Lato", sans-serif;
  font-size: inherit;
}

.navbar .container {
  padding: 0 !important;
}
.navbar .container img {
  width: 36px;
}
@media (min-width: 767.98px) {
  .navbar .container img {
    width: 60px;
  }
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: #dc61d3 !important;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #b6bdfb !important;
}

.navbar-dark {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
}
.navbar-dark .navbar-brand {
  font-family: "Rock Salt", sans-serif;
  color: #dc61d3;
  font-size: 1.5rem;
}
.navbar-dark .navbar-brand a {
  /* font-size: 1.7rem; */
}
.navbar-dark .navbar-brand:hover {
  color: #b6bdfb !important;
}
@media (min-width: 767.98px) {
  .navbar-dark .navbar-brand {
    font-size: 2.6rem;
  }
}

.fullwidth {
  width: 100%;
}

.nav-group {
  display: inline-block;
}
.nav-group-right {
  float: right;
}
.nav-group-left {
  float: left;
}

ul.navbar-nav {
  display: block;
}
ul.navbar-nav li {
  display: inline-block;
  font-size: 15px;
}
@media (min-width: 767.98px) {
  ul.navbar-nav li {
    font-size: 30px;
    margin-left: 3rem;
  }
}

footer .navbar {
  color: #dc61d3 !important;
}

.row {
  margin: 0;
}
@media (min-width: 767.98px) {
  .row {
    margin: 0 -15px;
  }
}

body {
  font-size: 20px;
  background-color: #ffffff !important;
}
body a {
  color: #dc61d3;
  font-weight: bold;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
  color: #5767ef;
}
@media (min-width: 767.98px) {
  body {
    font-size: 16px;
  }
}

table {
  font-size: 20px;
}
@media (min-width: 767.98px) {
  table {
    font-size: 16px;
  }
}

.bg-dark {
  background-color: #000000 !important;
}

.btn {
  color: #333333;
  border-color: #000000;
  border-color: #807b7b;
}
.btn:disabled {
  background-color: #b5b6b7;
  border-color: #000000;
}
.btn:disabled:hover {
  background-color: #b5b6b7;
  border-color: #000000;
  color: white;
}
.btn:hover {
  color: #333333;
  border-color: #000000;
}
.btn-danger {
  background-color: #a08af7;
}
.btn-danger:hover {
  background-color: #7f62f1;
}
.btn-success {
  background-color: #f5d16c;
}
.btn-success:hover {
  background-color: #f3e3b7;
}
.btn-primary {
  background-color: #dc61d3;
}
.btn-primary:hover {
  background-color: #ea4fe0;
}
.btn-info {
  background-color: #2dbfd6;
}
.btn-info:hover {
  background-color: #2cc9e2;
}
.btn-fullheight {
  height: 100%;
}

.alert {
  text-align: center;
}
.alert-success, .alert-info {
  background-color: #dc61d3;
  color: #000000;
  border-color: #333333;
}
.alert-info {
  background-color: #2dbfd6;
}
.alert-plain {
  border: 1px solid black;
}
.alert-danger, .alert-error {
  color: #000000;
  border-color: #333333;
  background-color: #a08af7;
}
.alert-danger a, .alert-error a {
  color: #000000;
  text-decoration: underline;
}
.alert-danger a:hover, .alert-error a:hover {
  color: #cdcdcd;
  text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1, .h1 {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 2.1rem;
  line-height: 3rem;
}

h2, .h2 {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
  line-height: 2.5rem;
}

h3, .h3 {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

h4, .h4 {
  color: #333333;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.spacer {
  display: block;
  width: 100%;
}
.spacer-medium {
  height: 2.5rem;
}
.spacer-small {
  height: 1.5rem;
}

.current-draft-participant {
  background-color: #f5a2f2;
}

.selected {
  background-color: #f5a2f2;
}

.mute {
  color: #CCCCCC;
}

.clickable {
  cursor: pointer;
  color: #dc61d3;
  font-weight: bold;
}

.help {
  cursor: help;
  color: #dc61d3;
  font-weight: bold;
}

.selectable:hover {
  background-color: #f5a2f2;
}
.selectable-selected {
  background-color: #f5d16c;
}

.icon-bumper {
  margin-left: 1.8rem;
}

.icon {
  display: inline-block;
}
.icon-btn img {
  width: 1.5rem;
  height: 1.5rem;
}
.icon-placeholder {
  width: 1.5rem;
  height: 1.5rem;
}

.editable {
  border-bottom: 1px dotted #333333;
}
.editable-icon {
  background: url(../static/site_images/lipstick.png) no-repeat top right;
  background-size: 2.2rem 2.2rem;
  width: 2.2rem;
  height: 2.2rem;
  border: 0;
  margin-top: -1rem;
  float: right;
  padding-right: 5rem;
}
.editable-label {
  padding-right: 1rem;
}
.editable-submit {
  width: 2.2rem;
  height: 2.2rem;
  border: 0;
  color: #f5d16c;
  background: none;
  font-size: 3rem;
  margin-top: -1rem;
  float: right;
  padding-right: 5rem;
}

.as-table {
  display: table;
}
.as-table .as-row {
  display: table-row;
}
.as-table .as-cell {
  display: table-cell;
}

.table {
  font-size: 16px;
}
@media (min-width: 767.98px) {
  .table {
    font-size: 20px;
  }
}

.entities-alert {
  color: RED;
}

.loading {
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(130, 130, 130, 0.7);
  margin: 0px;
  position: fixed;
  top: 0;
  left: 0;
}
.loading .spinner {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 20%;
}

/*# sourceMappingURL=app.css.map */
