{% load static %}
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Rock+Salt">
		<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato">
  		<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  		<link href="{% static 'app.css' %}" rel="stylesheet">
  		<title>
  			{% if browser_title %}{{browser_title}} | {%endif%}FantasyDrag
  		</title>
  		<link rel="shortcut icon" type="/image/png" href="{% static 'site_images/favicon.ico' %}"/>
  		{% block extra_style %}{% endblock %}
  </head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-dark bg-dark">
				<div class="container">
				  <a class="navbar-brand" href="{% url 'home' %}">
				  	<img src="{% static 'site_images/crown.png' %}" />
				  	FantasyDrag
				  </a>
				<div>
			    <ul class="navbar-nav">			
					{% if user.is_authenticated %}		
						<li class="nav-item">
						  <a class="nav-link" href="{% url 'queen_list' %}">Search</a>		
						</li>				
						<li class="nav-item">
						  <a class="nav-link" href="{% url 'profile' %}">Profile</a>
						</li>
					{% else %}				
						<li class="nav-item">
						  <a class="nav-link" href="{% url 'login' %}">Log In</a>
						</li>			
						<li class="nav-item">
						  <a class="nav-link" href="{% url 'register' %}">Register</a>
						</li>
					{% endif %}
			    </ul>
				</div>
			</div>
			</nav>
		</div>
		<div id="page_content" class="body container container-fluid">
			{% block page_content %}{% endblock %}
		</div>
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  		<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script type="text/javascript">
			$(function () {
		  		$('[data-toggle="tooltip"]').tooltip()
			})
		</script>

  		{% block extra_scripts %}{% endblock %}
	</body>
</html>