{% load static %}
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta charset="utf-8">
		<meta name="description" content="Play along with current seasons of RuPaul's Drag Race by drafting queens into your own fantasy drag race team. Play on your own or with a panel of friends!">
		<meta name="keywords" content="drag race, rupaul's drag dace, fantasy drag race, drag race fantasy league">		
		<meta name="author" content="Bo Morin">
		<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Rock+Salt">
		<link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato">
  		<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  		<link href="{% static 'app.css' %}" rel="stylesheet">
  		<title>
  			Drag Crush{% block page_title %}{% endblock %}
  		</title>
  		<link rel="shortcut icon" type="/image/png" href="{% static 'site_images/favicon.ico' %}"/>
  		{% block extra_style %}{% endblock %}
  </head>
	<body>
		<div class="container-fluid">
			<nav class="navbar navbar-dark bg-dark">
				<div class="container">
				  <a class="navbar-brand" href="{% url 'home' %}">
				  	<img src="{% static 'site_images/crown.png' %}" />
				  	Drag Crush
				  </a>
				<div>
			    <ul class="navbar-nav">			
					{% if user.is_authenticated %}		
						<li class="nav-item">
						  <a class="nav-link" href="{% url 'queen_list' %}">Queens</a>		
						</li>			
						<li class="nav-item">
						  <a class="nav-link" href="{% url 'profile' %}">{{request.user.username}}</a>
						</li>
					{% else %}				
						<li class="nav-item">
						  <a class="nav-link" href="{% url 'login' %}">Log In</a>
						</li>			
						<li class="nav-item">
						  <a class="nav-link" href="{% url 'register' %}">Register</a>
						</li>
					{% endif %}
			    </ul>
				</div>
			</div>
			</nav>
		</div>
		{% if pageModule and pageController %}
		<div id="{{pageModule}}" class="body container container-fluid container-fluid-shrink" ng-controller='{{pageController}}'>
		<div class="loading" ng-show="state=='loading'">
			<div class="spinner"><img src="{% static 'site_images/ripple-loading.gif' %}"></div>
		</div>
		{% else %}
		<div class="body container container-fluid container-fluid-shrink">
		{% endif %}
			{% if messages %}
			<div class="row">
				<div class="col">
					{% for message in messages %}
					<div class="alert alert-{{message.tags}}">
						{{message}}
					</div>
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% block page_content %}{% endblock %}
			
		</div>
		
		<!-- Footer -->
<footer class="page-footer font-small pt-4">
	<div class="container-fluid">
		<nav class="navbar navbar-dark bg-dark">
			<div class="container">
				<div class="col-lg-4 col-sm-12">
						dragcrush.com © 2021 Copyright 
				</div>
				<div class="col-lg-8 col-sm-12">
					<a href="{% url 'about' %}">About</a> |
					<a href="{% url 'privacy_policy' %}">Privacy Policy</a> |
					<a href="{% url 'eula' %}">End User License Agreement</a> |
					<a href="mailto:kittygirl@dragcrush.com">Contact</a>
				</div>
				<div class="col-lg-4 col-sm-12">
					Additional Resources:
				</div>
				<div class="col-lg-8 col-sm-12">
					<a href="https://www.freepik.com/vectors/pattern" target="_blank">Pattern vector created by freepik - www.freepik.com</a> |
					<a href="https://loading.io/" target="_blank">Loading graphic by loading.io</a>
				</div>
				<div class="col-lg-12 col-sm-12">
					dragcrush.com is in no way affiliated with RuPaul's Drag Race. It's just for fun.
				</div>
			</div>
		</nav>
	</div>
</footer>
<!-- Footer -->
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  		<script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script type="text/javascript">
			$(function () {
		  		$('[data-toggle="tooltip"]').tooltip()
			})
		</script>

  		{% block extra_scripts %}{% endblock %}
	</body>
</html>